@using Microsoft.AspNetCore.Identity
@using YLKnowledgeBase.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li><a asp-area="" asp-controller="KnowledgeBase" asp-action="Index">Knowledge Base</a></li>
    <li><a asp-area="" asp-controller="Categories" asp-action="Index">Categories</a></li>
    <li><a asp-area="" asp-controller="Notes" asp-action="Index">Notes</a></li>
}