body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.col-md-4 {
    padding-left: 0;
}

.navbar-categories {
    width: 100%;
    float: left;
    background-color: #f1f1f1;
    /*background-color: white;*/
}

.option-categories {
    width: 100%;
}

.navbar-categories button{ 
    display: inline;
    background-color: inherit;
    color: black;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.btn-plus {
    padding: 5px 0;
    width: 5%;
    text-align: center;
}

.option-categories {
    padding: 22px 16px;
    width: 80%;
    font-weight: 700;
    text-align: left;
    margin-right: 5%;
}

.option-categories button:hover {
    background-color: #ddd;
}

.category > div {
    display: none;
}

.category-active {
    background-color: #ccc;
}

.category-active > div {
    display:block;
}

.notes{
    display:none;
}

.dropdownlist {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
